{% extends "webapp.html" %}

{% block title %}
<text style="font-family:'jetbrains', 'jetbrains', monospace;">@->CalLI</text> dashboard
{% endblock %}

{% block username %}
{{ username }}
{% endblock %}

{% block docs %}
        <div class="row pt-3">
            <div class="col-lg-12 text-left">
                <h2>edit event <text style="font-family:'jetbrains', 'jetbrains', monospace;">@{{ eventhex }} </text> </h2>
            </div>
        </div>
        {% if show_error %}
        <div class="row pt-3 justify-content-center">
            <div class="col-lg-12 pb-3">
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    {{ show_error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
        <form action="/dash/edit?event={{ eventhex|upper }}" method="post">
            <div class="row pt-3">
                <div class="col-lg-12 text-left">

                        <h5 class="pt-1">day</h5>

                        <input autocomplete="off" name="day" class="form-control pb-1" type="text" placeholder="{{ event['day'] }}">

                        <h5 class="pt-2">start time</h5>

                        <input autocomplete="off" name="start" class="form-control pb-1" type="text" placeholder="{{ event['start'] }}">


                        {% if event['type'] == "E" %}

                        <h5 class="pt-2">duration</h5>

                        <input autocomplete="off" name="duration" class="form-control pb-1" type="text" placeholder="{{ event['duration'] }} mins">

                        {% endif %}


                        <h5 class="pt-2">info</h5>

                        <input autocomplete="off" name="info" class="form-control pb-2" type="text" placeholder="{{ event['info'] }}">
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-12 text-left">
                    <button type = submit class="btn btn-primary">save changes</button>
                    <a href="/dash" class="btn btn-outline-secondary">cancel</a>
                </div>
            </div>
        </form>


{% endblock %}