{% extends "layout.html" %}

{% block title %}
CLI Installation Documentation
{% endblock %}


{% block docs %}
        <div class="row pt-1" id="start">
            <div class="col-lg-12 text-left">
                <p><kbd><span class="user-select-none">$ </span>wget https://raw.githubusercontent.com/calliapp/cli/main/calli</kbd></p>
                <p>The CLI is a Bash script with a Python shebang, so you need Python3 installed, as well as the modules found in <samp>requirements.txt</samp></p>
                <p><b>Your token is stored in <samp>.token.json</samp>. Do not share this. It will give anyone access to your account.</b></p>
            </div>
        </div>
        <div class="row pt-1" id="start">
            <div class="col-lg-12 text-left">
                <h2>MacOS Install</h2>
                <p>To be able to run <kbd>$ calli</kbd> from everywhere, and not just <kbd>./calli</kbd> from the directory, move <samp>calli</samp> to <samp>/usr/local/bin</samp> before logging in</p>
                <p><kbd><span class="user-select-none">$ </span>git clone https://github.com/calliapp/cli</kbd></p>
                <p><kbd><span class="user-select-none">$ </span>cd cli</kbd></p>
                <p><kbd><span class="user-select-none">$ </span>python3 -m pip install -r requirements.txt</kbd></p>
                <p><kbd><span class="user-select-none">$ </span>mv calli /usr/bin/local</kbd></p>
            </div>
        </div>

        
        

                
       
{% endblock %}