{% extends "layout.html" %}

{% block title %}
CLI Documentation
{% endblock %}


{% block docs %}
        <div class="row pt-5">
            <div class="col-lg-12 text-left">
                <samp>https://github.com/calliapp/calli-server-public</samp>
                <p>Calli Server is a Flask webapp and REST API. The live version is at <kbd>calliapp.dev</kbd>, but you are encouraged to use your own instance</p>
                <p>How you run that instance is largely up to you - just run <kbd>pip install -r requirements.txt</kbd> to install the required modules, and get Flask set up on your VM. There are plenty of guides for that on Google.</p>
            </div>
        </div>
{% endblock %}